<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue unpkg</title>
    <script src="https://unpkg.com/vue@3"></script>
  </head>
  <body>
    <div id="app">
      <ul>
        <!-- <li v-for="(item, index) in items" :key="index">{{ item }}</li> -->
        <!-- <li v-for="({id, name}) in frameworks" :key="id">{{ name }}</li> -->
        <li v-for="({name}, index) in frameworks" :key="index">{{ name }}</li>
      </ul>
    </div>
    <script src="main.js"></script>
  </body>
</html>
